# Server Configuration
PORT=5000

# Database Configuration
MONGODB_URI=your_mongodb_uri

# Auth Configuration
JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

# Deprecated (Old implementation)
OPENTRIP_API_KEY=your_old_key
